<div class="share">
    Share this on <a id="twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}"><i class="icon-twitter"></i></a>, <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"><i class="icon-facebook"></i></a> or <a id="google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}"><i class="icon-googleplus"></i></a>.
</div>
