<div class="sidebar text-right meta">
    <div class="published animated fadeInUp">
        <strong class="icon-calendar">Published</strong>
      <time class="timeago" datetime="{{date format="YYYY-MM-DDTHH:mm:ssZ"}}" title="{{date format="MMMM D [']YY [at] H:mm"}}">{{date timeago="true"}}</time>
    </div>
    <span class="separator animated fadeInUp">//</span>
    <div class="tags animated fadeInUp">
        {{#if tags}}
            <strong class="icon-tags">Tags</strong>
            {{tags separator=""}}
        {{/if}}
    </div>
</div>
